<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.CustomerMapper">
	
	   
   <select id="selectCustomerByJiaotimeAndCount" parameterType="int" resultType="barchartOne">
   	SELECT DATE_FORMAT(c.customer_jiaotime,'%y-%m') as 'yuefen' ,COUNT(1) as 'count' 
   	FROM customer c INNER JOIN `user` u ON c.user_id = u.user_id INNER JOIN user_role ur ON u.user_id = ur.user_id 
   	WHERE ur.role_id=#{role_id} GROUP BY DATE_FORMAT(c.customer_jiaotime,'%y-%m') ORDER BY DATE_FORMAT(c.customer_jiaotime,'%y-%m') DESC LIMIT 0,6
   </select>
   
   <select id="selectCustomerByRoleId" parameterType="int" resultType="int">
   	SELECT COUNT(c.customer_id ) 
   	FROM customer c INNER JOIN `user` u ON c.user_id = u.user_id INNER JOIN user_role ur ON u.user_id = ur.user_id 
   	WHERE ur.role_id=#{role_id}	
   	
   </select>
   
</mapper>