<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.ManagerMapper">
   <resultMap type="Customer" id="CustomerTab">
   <id column="customer_id" property="customer_id"/>
   <result column="customer_no" property="customer_no" />
   <result column="customer_name" property="customer_name" />
   <result column="customer_academic" property="customer_academic" />
   <result column="customer_phone" property="customer_phone" />
   <result column="customer_onevisit_time" property="customer_onevisit_time" />
   <result column="customer_visit" property="customer_visit" />
   <result column="customer_status" property="customer_status" />
   <result column="customer_ingate" property="customer_ingate" />
   <result column="customer_source" property="customer_source" />
   <result column="customer_create_time" property="customer_create_time" />
   <result column="customer_age" property="customer_age" />
   <result column="customer_sex" property="customer_sex" />
   <result column="customer_level" property="customer_level" />
   <result column="user_name" property="user.user_name" />
   </resultMap>
   
   
   <resultMap type="Access_record" id="FollowTab">
   
   <id column="record_id" property="record_id"/>
   <result column="record_time" property="record_time" />
   <result column="record_content" property="record_content" />
   <result column="record_address" property="record_address" />
    <result column="user_id" property="user_id" />
    <result column="customer_id" property="customer_id" />
    <result column="record_endtime" property="record_endtime" />
    <result column="record_condition" property="record_condition" />
    <result column="record_lasttime" property="record_lasttime" />
    <result column="record_status" property="record_status" />  
    <result column="record_remark" property="record_remark" />
    
    
    <result column="customer_name" property="customer.customer_name" />
    <result column="customer_visit" property="customer.customer_visit" />
    
    
    <result column="user_name" property="user.user_name" />
    </resultMap>
   
   
<resultMap type="User" id="userTorole">
  <id column="user_id" property="user_id" />
  <result column="user_name" property="user_name" />
  <result column="user_sex" property="user_sex" />
  <result column="user_creat_time" property="user_creat_time" />
  <result column="user_creat_time" property="user_creat_time" />
  <result column="user_phone" property="user_phone" />
  <result column="user_weight" property="user_weight" />
  <result column="user_status" property="user_status" />
  <result column="role_name" property="role.role_name" />
</resultMap>
   <select id="selectManagerCount" parameterType="fenye" resultType="int">
    SELECT count(customer_id) FROM customer c INNER JOIN user u on c.user_id=u.user_id
     <where>
       <if test="cname!='' and cname!=null">
       and c.customer_name like "%"#{cname}"%"
       </if>
       <if test="uteacher!='' and uteacher!=null">
       and u.user_name=#{uteacher}
       </if>
       <if test="visit>0">
       and c.customer_visit=#{visit}
       </if>
       <if test="ingate>0">
       and c.customer_ingate=#{ingate}
       </if>
       <if test="minTime!='' and minTime!=null">
       and c.customer_ingate_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and c.customer_ingate_time &lt;=#{maxTime}
       </if>
  </where>
   </select>
   
   
  <select id="selectManager" parameterType="fenye" resultMap="CustomerTab">
  SELECT c.*,u.user_name FROM customer c INNER JOIN user u on c.user_id=u.user_id
  <where>
       <if test="cname!='' and cname!=null">
       and c.customer_name like "%"#{cname}"%"
       </if>
       <if test="uteacher!='' and uteacher!=null">
       and u.user_name=#{uteacher}
       </if>
       <if test="visit>0">
       and c.customer_visit=#{visit}
       </if>
       <if test="ingate>0">
       and c.customer_ingate=#{ingate}
       </if>
       <if test="minTime!='' and minTime!=null">
       and c.customer_ingate_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and c.customer_ingate_time &lt;=#{maxTime}
       </if>
  </where>
 ORDER BY c.customer_id asc
 LIMIT #{page},#{row}
   </select>
<!--  未分配的客户信息 -->
 <select id="selectManagerCount1" parameterType="Fenye" resultType="int">
 SELECT count(customer_id) FROM customer
 <where>
       <if test="cname!='' and cname!=null">
       and customer_name like "%"#{cname}"%"
       </if>
     
       <if test="visit>0">
       and customer_visit=#{visit}
       </if>
       <if test="ingate>0">
       and customer_ingate=#{ingate}
       </if>
       <if test="minTime!='' and minTime!=null">
       and customer_ingate_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and customer_ingate_time &lt;=#{maxTime}
       </if>
       and user_id is null
  </where>
</select> 

<select id="selectManager1" parameterType="Fenye" resultType="customer">
 SELECT * FROM customer
 <where>
       <if test="cname!='' and cname!=null">
       and customer_name like "%"#{cname}"%"
       </if>
     
       <if test="visit>0">
       and customer_visit=#{visit}
       </if>
       <if test="ingate>0">
       and customer_ingate=#{ingate}
       </if>
       <if test="minTime!='' and minTime!=null">
       and customer_ingate_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and customer_ingate_time &lt;=#{maxTime}
       </if>
       and user_id is null
  </where>
 ORDER BY customer_id asc
 LIMIT  #{page},#{row}
</select>
   <insert id="insertCustomer" parameterType="customer">
   insert into customer(customer_no,customer_name,customer_academic,customer_region,customer_post,customer_address,customer_phone,customer_source,customer_qq,customer_course,customer_age,customer_sex,customer_level,customer_status,userw_id,user_id)
               values(#{customer_no},#{customer_name},#{customer_academic},#{customer_region},#{customer_post},#{customer_address},#{customer_phone},#{customer_source},#{customer_qq},#{customer_course},#{customer_age},#{customer_sex},#{customer_level},#{customer_status},#{userw_id},#{user_id});
             <selectKey resultType="int" keyProperty="customer_id" order="AFTER">  
		    		select @@IDENTITY as customer_id;  
			</selectKey>
   </insert>
   
   <select id="selectUserSigninOrback" parameterType="FenYe" resultMap="userTorole">
   
        select u.*,r.role_name from 
		user u INNER JOIN user_role ur on u.user_id=ur.user_id
		INNER JOIN role r on r.role_id=ur.role_id
		
  <where>
        <if test="cname!='' and cname!=null">
       and u.user_name like "%"#{cname}"%"
       </if>
   
        <if test="visit>0">
       and u.user_status=#{visit}
       </if>
      
   <!--     <if test="minTime!='' and minTime!=null">
       and user_login_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and user_login_time &lt;=#{maxTime}
       </if>
       
       
        <if test="beginTime!='' and beginTime!=null">
       and user_end_time &gt;=#{beginTime}
       </if>
       <if test="endTime!='' and endTime!=null">
       and user_end_time &lt;=#{endTime}
       </if> -->
    </where>
    ORDER BY u.user_id asc
    limit #{page},#{row}
   </select>
   
   <select id="selectUserCount" parameterType="FenYe" resultType="int">
        select count(u.user_id) from 
		user u INNER JOIN user_role ur on u.user_id=ur.user_id
		INNER JOIN role r on r.role_id=ur.role_id
    <where>
         <if test="cname!='' and cname!=null">
       and u.user_name like "%"#{cname}"%"
       </if>
   
       <if test="visit>0">
       and u.user_status=#{visit}
       </if>
      
       <!-- <if test="minTime!='' and minTime!=null">
       and user_login_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and user_login_time &lt;=#{maxTime}
       </if>
       
       
        <if test="beginTime!='' and beginTime!=null">
       and user_end_time &gt;=#{beginTime}
       </if>
       <if test="endTime!='' and endTime!=null">
       and user_end_time &lt;=#{endTime}
       </if> -->
    </where>
   </select>
   <!-- 签退 -->
   <update id="updateUserStatus" parameterType="java.util.List">
   update user set user_status=2,user_end_time=(select sysdate()) where user_id in
   <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
   #{item}
   </foreach>
    
   </update>
   
    <!--  签到 -->
   <update id="updateUserSignin" parameterType="int">
   update user set user_status=1,user_login_time=(select sysdate()) where user_id=#{user_id}
   </update>
   <!-- 查询出所有的咨询师 -->
    <select id="selectUserReferTeacher" resultType="user">
       select u.user_id,u.user_name from 
		user u INNER JOIN user_role ur on u.user_id=ur.user_id
		INNER JOIN role r on r.role_id=ur.role_id
		where ur.role_id=3 and u.user_status=1
    </select>
    <!-- 对客户进行跟踪 -->
       <update id="updateCustomerTrack" parameterType="customerTrackParameters">
   update customer set user_id=#{user_id} where customer_id in
   <foreach collection="s" item="item" index="index" open="(" separator="," close=")" >
   #{item}
   </foreach>
    
   </update>
   
   <update id="UpdateCustomer" parameterType="customer">
   update customer
   <set>
     <if test="customer_no!='' and customer_no!=null">
     customer_no=#{customer_no},
     </if>
     <if test="customer_name!='' and customer_name!=null">
      customer_name=#{customer_name},
     </if>
     <if test="customer_age>0">
      customer_age=#{customer_age},   
     </if>
     <if test="customer_status>0">
      customer_status=#{customer_status},
     </if>
     <if test="customer_region!='' and customer_region!=null">
      customer_region=#{customer_region},
     </if>
     <if test="customer_post!='' and customer_post!=null">
      customer_post=#{customer_post},
     </if>
     <if test="customer_phone!='' and customer_phone!=null">
      customer_phone=#{customer_phone},
     </if>
     <if test="customer_qq!='' and customer_qq!=null">
      customer_qq=#{customer_qq},
     </if>
     <if test="customer_sex>0">
      customer_sex=#{customer_sex},
     </if>
     <if test="customer_source!='' and customer_source!=null">
     customer_source=#{customer_source},
     </if>
     <if test="customer_course!='' and customer_academic!=null">
     customer_course=#{customer_course},
     </if>
     <if test="customer_level>0">
      customer_level=#{customer_level},
     </if>
     <if test="customer_visit>0">
      customer_visit=#{customer_visit},
     </if>
     <if test="customer_ingate>0">
      customer_ingate=#{customer_ingate},
     </if>
     <if test="customer_dmoney>0">
     customer_dmoney=#{customer_dmoney},
     </if>
     <if test="customer_jiaofei>0">
     customer_jiaofei=#{customer_jiaofei},
     </if>
    
     <if test="customer_jiaomoney>0">
     customer_jiaomoney=#{customer_jiaomoney},
     </if>
     <if test="customer_istui>0">
     customer_istui=#{customer_istui},
     </if>
     <if test="customer_isjinban>0">
       customer_isjinban=#{customer_isjinban},
     </if>
   
     <if test="customer_jinbanremark!='' and customer_jinbanremark!=null">
     customer_jinbanremark=#{customer_jinbanremark},
     </if>
     <if test="customer_zixunremark!='' and customer_zixunremark!=null">
      customer_zixunremark=#{customer_zixunremark},
     </if>
   </set>
   where customer_id=#{customer_id}
   </update>
 <!--    增加签到信息统计 -->
   <insert id="insertSignInfo" parameterType="int">
   insert into sign(user_login_time,user_id)
   values((select sysdate()),#{user_id})
   </insert>
   
   <update id="updateSignInfo">
   UPDATE sign SET user_leave_time=NOW() WHERE user_id=#{user_id} AND DATE(user_login_time)=#{s} AND user_leave_time IS NULL;
    
   </update>
   
   <!--获取员工的状态  -->
   
   <select id="selectUserStatus" resultType="user">
    SELECT user_status,user_name,user_id from user where user_id=#{user_id}
   </select>
   
   <!--客户跟进情况  -->
   <select id="selectAccess_recordInfo" parameterType="fenye" resultMap="FollowTab">
    SELECT c.customer_name,u.user_name, a.*
    from access_record a INNER JOIN customer c on a.customer_id=c.customer_id INNER JOIN  user u on c.user_id=u.user_id
   <where>
         <if test="cname!='' and cname!=null">
          and c.customer_name like "%"#{cname}"%"
       </if>
       <if test="uteacher!='' and uteacher!=null">
          and u.user_name=#{uteacher}
       </if>
       <if test="record_status!='' and record_status!=null">
       and a.record_status=#{record_status}
       </if>
      
       <if test="minTime!='' and minTime!=null">
       and a.record_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and a.record_endtime &lt;=#{maxTime}
       </if>
       
    </where>
     limit #{page},#{row}
   </select>
   
   <select id="selectCountAccess_record" parameterType="fenye" resultType="int">
   SELECT count(a.record_id)
   from access_record a INNER JOIN customer c on a.customer_id=c.customer_id INNER JOIN  user u on c.user_id=u.user_id
    <where>
         <if test="cname!='' and cname!=null">
          and c.customer_name like "%"#{cname}"%"
       </if>
       <if test="uteacher!='' and uteacher!=null">
          and u.user_name=#{uteacher}
       </if>
       <if test="record_status!='' and record_status!=null">
       and a.record_status=#{record_status}
       </if>
      
       <if test="minTime!='' and minTime!=null">
       and a.record_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and a.record_endtime &lt;=#{maxTime}
       </if>
       
    </where>
   </select>
<!--修改员工权重  -->
 <update id="updateweight" parameterType="int">
  update user 
  set user_weight=#{user_weight}
  where user_id=#{user_id}
 </update>
</mapper>