<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.NetWorkTeacherMapper">
<resultMap type="Access_record" id="LogTab">
  <id column="record_id" property="record_id"/>
  <result column="record_time" property="record_time"/>
  <result column="record_content" property="record_content"/>
  <result column="record_content" property="record_content"/>
  <result column="customer_id" property="customer_id"/>
  <result column="customer_name" property="customer.customer_name"/>

</resultMap>
<select id="selectCustomerCount" parameterType="fenye" resultType="int">
  select count(customer_id) from customer
  <where>
       <if test="cname!='' and cname!=null">
       and customer_name like "%"#{cname}"%"
       </if>
       <if test="visit>0">
       and customer_visit=#{visit}
       </if>
       <if test="ingate>0">
       and customer_ingate=#{ingate}
       </if>
       <if test="minTime!='' and minTime!=null">
       and customer_ingate_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and customer_ingate_time &lt;=#{maxTime}
       </if>
       <if test="userw_id>0">
       and userw_id=#{userw_id}
       </if>
  </where>
</select>

<select id="selectCustomer" parameterType="fenye" resultType="customer">
select * from customer
<where>
       <if test="cname!='' and cname!=null">
       and customer_name like "%"#{cname}"%"
       </if>
       <if test="visit>0">
       and customer_visit=#{visit}
       </if>
       <if test="ingate>0">
       and customer_ingate=#{ingate}
       </if>
       <if test="minTime!='' and minTime!=null">
       and customer_ingate_time &gt;=#{minTime}
       </if>
       <if test="maxTime!='' and maxTime!=null">
       and customer_ingate_time &lt;=#{maxTime}
       </if>
      <if test="userw_id>0">
       and userw_id=#{userw_id}
       </if>
  </where>
ORDER BY customer_id asc
limit #{page},#{row}
</select>

<insert id="insertTrackInfo" parameterType="Access_record">
insert into access_record(user_id,customer_id,record_condition,record_lasttime,record_status,record_remark,record_time,record_content)
values(#{user_id},#{customer_id},#{record_condition},#{record_lasttime},#{record_status},#{record_remark},#{record_time},#{record_content})
</insert>

<select id="selectDateLog" resultMap="LogTab">
select a.record_content,a.record_lasttime,a.record_time,c.customer_name
FROM access_record a INNER JOIN customer c ON  a.customer_id=c.customer_id
where c.customer_id=#{customer_id}

</select>
</mapper>