<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.RoleModuleMapper">
	
	
	<insert id="insertRoleModule" parameterType="roleModule">
		INSERT INTO role_module(role_id,module_id) VALUE(#{role_id},#{module_id})
	</insert>
</mapper>