<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.UserRoleMapper">
	
	<insert id="insertUserRole" parameterType="java.util.List">
		INSERT INTO user_role(user_id,role_id) 
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.user_id,jdbcType=INTEGER},#{item.role_id,jdbcType=INTEGER})
		</foreach>
	</insert>
	<!-- <insert id="insertByBatch" parameterType="java.util.List">
        insert into attachment_table (name, logID,url)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name,jdbcType=VARCHAR}, #{item.logid,jdbcType=INTEGER},#{item.url,jdbcType=LONGVARCHAR})
        </foreach>
    </insert> -->
	
	<delete id="deleteUserRoles" parameterType="string">
		DELETE FROM user_role WHERE user_id IN(#{user_ids});
	</delete>
</mapper>