<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.ManagerMapper">
   <resultMap type="Customer" id="CustomerTab">
   <id column="customer_id" property="customer_id"/>
   <result column="customer_no" property="customer_no" />
   <result column="customer_name" property="customer_name" />
   <result column="customer_academic" property="customer_academic" />
   <result column="customer_phone" property="customer_phone" />
   <result column="customer_onevisit_time" property="customer_onevisit_time" />
   <result column="customer_visit" property="customer_visit" />
   <result column="customer_status" property="customer_status" />
   <result column="customer_visit" property="customer_visit" />
   <result column="customer_ingate" property="customer_ingate" />
   <result column="customer_source" property="customer_source" />
   <result column="customer_create_time" property="customer_create_time" />
   <result column="customer_age" property="customer_age" />
   <result column="customer_sex" property="customer_sex" />
   <result column="customer_level" property="customer_level" />
   <result column="user_name" property="user.user_name" />
   </resultMap>
   
   <select id="selectManagerCount" parameterType="fenye" resultType="int">
    SELECT count(customer_id) FROM customer c INNER JOIN user u on c.user_id=u.user_id
   </select>
   
   
   <select id="selectManager" parameterType="fenye" resultMap="CustomerTab">
  SELECT c.*,u.user_name FROM customer c INNER JOIN user u on c.user_id=u.user_id
   limit #{page},#{row}
   </select>
</mapper>